{% extends 'app/legal/legal_base.html' %}


{% load static %}

{% block title %}Política de Privacidad{% endblock title %}


{% block article_title %}Política de privacidad de Librería Imagina{% endblock article_title %}

{% block card_text %}
<div class="card-text">

    <p>Esta Política de privacidad describe cómo se recopila, utiliza y comparte su información personal cuando visita o
        hace una compra en libreriaimagina.cl (denominado en lo sucesivo el “Sitio”).</p>

    <h2 class="fw-bold">INFORMACIÓN PERSONAL QUE RECOPILAMOS</h2>

    <p>Cuando visita el Sitio, recopilamos automáticamente cierta información sobre su dispositivo, incluida información
        sobre su navegador web, dirección IP, zona horaria y algunas de las cookies que están instaladas en su
        dispositivo. Además, a medida que navega por el Sitio, recopilamos información sobre las páginas web
        individuales o los productos que ve, las páginas web o los términos de búsqueda que lo remitieron al Sitio e
        información sobre cómo interactúa usted con el Sitio. Nos referimos a esta información recopilada
        automáticamente como “Información del dispositivo”.</p>

    <p>Recopilamos Información del dispositivo mediante el uso de las siguientes tecnologías:</p>

    <ul>
        <li>COOKIES</li>
    </ul>

    <p>Aquí tienes una lista de cookies que utilizamos. Las enlistamos para que puedas elegir si quieres optar por
        quitarlas o no.</p>

    <ul class="list-group list-group-numbered">
        <li class="list-group-item"><em>_session_id</em>, unique token, sessional, Allows Librería Imagina to store
            information about your session (referrer, landing page, etc).</li>

        <li class="list-group-item"><em>_imagina_visit</em>, no data held, Persistent for 30 minutes from the last
            visit, Used by our website provider’s internal stats tracker to record the number of visits</li>

        <li class="list-group-item"><em>_imagina_uniq</em>, no data held, expires midnight (relative to the visitor) of
            the next day, Counts the number of visits to a store by a single customer.</li>

        <li class="list-group-item"><em>cart</em>, unique token, persistent for 2 weeks, Stores information about the
            contents of your cart.</li>

        <li class="list-group-item"><em>_secure_session_id</em>, unique token, sessional</li>

        <li class="list-group-item"><em>storefront_digest</em>, unique token, indefinite If the shop has a password,
            this is used to determine if the current visitor has access.</li>
    </ul>
    <br>

    <p>Los “Archivos de registro” rastrean las acciones que ocurren en el Sitio y recopilan datos, incluyendo su
        dirección IP, tipo de navegador, proveedor de servicio de Internet, páginas de referencia/salida y marcas de
        fecha/horario.</p>
    <p>Las “balizas web”, las “etiquetas” y los “píxeles” son archivos electrónicos utilizados para registrar
        información sobre cómo navega usted por el Sitio.</p>

    <p>Además, cuando hace una compra o intenta hacer una compra a través del Sitio, recopilamos cierta información de
        usted, entre la que se incluye su nombre, dirección de facturación, dirección de envío, información de pago
        (incluidos los números de la tarjeta de crédito o débito), dirección de correo electrónico y número de teléfono.
        Nos referimos a esta información como “Información del pedido”.</p>

    <p>Cuando hablamos de “Información personal” en la presente Política de privacidad, nos referimos tanto a la
        Información del dispositivo como a la Información del pedido.</p>

    <h2 class="fw-bold">¿CÓMO UTILIZAMOS SU INFORMACIÓN PERSONAL?</h2>

    <p>Usamos la Información del pedido que recopilamos en general para preparar los pedidos realizados a través del
        Sitio (incluido el procesamiento de su información de pago, la organización de los envíos y la entrega de
        facturas y/o confirmaciones de pedido). Además, utilizamos esta Información del pedido para: comunicarnos con
        usted; examinar nuestros pedidos en busca de fraudes o riesgos potenciales; y cuando de acuerdo con las
        preferencias que usted compartió con nosotros, le proporcionamos información o publicidad relacionada con
        nuestros productos o servicios.</p>

    <p>Utilizamos la Información del dispositivo que recopilamos para ayudarnos a detectar posibles riesgos y fraudes
        (en particular, su dirección IP) y, en general, para mejorar y optimizar nuestro Sitio (por ejemplo, al generar
        informes y estadísticas sobre cómo nuestros clientes navegan e interactúan con el Sitio y para evaluar el éxito
        de nuestras campañas publicitarias y de marketing).</p>

    <p>Compartimos su Información personal con terceros para que nos ayuden a utilizar su Información personal, tal como
        se describió anteriormente.

    <p>Finalmente, también podemos compartir su Información personal para cumplir con las leyes y regulaciones
        aplicables, para responder a una citación, orden de registro u otra solicitud legal de información que
        recibamos, o para proteger nuestros derechos.</p>

    <p>Como se describió anteriormente, utilizamos su Información personal para proporcionarle anuncios publicitarios
        dirigidos o comunicaciones de marketing que creemos que pueden ser de su interés. Para más información sobre
        cómo funciona la publicidad dirigida, puede visitar la página educativa de la Iniciativa Publicitaria en la Red
        ("NAI" por sus siglas en inglés) en <a
            href="http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work">http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work</a>.
    </p>

    <p class="fw-bold">NO RASTREAR</p>
    <p>Tenga en cuenta que no alteramos las prácticas de recopilación y uso de datos de nuestro Sitio cuando vemos una
        señal de No rastrear desde su navegador.</p>

    <p>Si usted es un residente europeo, tiene derecho a acceder a la información personal que tenemos sobre usted y a
        solicitar que su información personal sea corregida, actualizada o eliminada. Si desea ejercer este derecho,
        comuníquese con nosotros a través de la información de contacto que se encuentra a continuación.</p>

    <p>Además, si usted es un residente europeo, tenemos en cuenta que estamos procesando su información para cumplir
        con los contratos que podamos tener con usted (por ejemplo, si realiza un pedido a través del Sitio) o para
        perseguir nuestros intereses comerciales legítimos enumerados anteriormente. Además, tenga en cuenta que su
        información se transferirá fuera de Europa, incluidos Canadá y los Estados Unidos.</p>

    <h2 class="fw-bold">RETENCIÓN DE DATOS</h2>

    <p>Cuando realiza un pedido a través del Sitio, mantendremos su Información del pedido para nuestros registros a
        menos que y hasta que nos pida que eliminemos esta información.</p>

    <h2 class="fw-bold">CAMBIOS</h2>

    <p>Podemos actualizar esta política de privacidad periódicamente para reflejar, por ejemplo, cambios en nuestras
        prácticas o por otros motivos operativos, legales o reglamentarios.</p>

    <h2 class="fw-bold">CONTÁCTENOS</h2>

    <p>Para obtener más información sobre nuestras prácticas de privacidad, si tiene alguna pregunta o si desea
        presentar una queja, contáctenos por correo electrónico a <a
            href="mailto:contacto@libreriaimagina.cl">contacto@libreriaimagina.cl</a> o por correo mediante el uso de la
        información que se proporciona a continuación:</p>

    <address>
        Av. Pdte. Kennedy 5413, 7560356 Las Condes, Santiago, RM, 7560356 , Chile
    </address>

</div>



{% endblock card_text %}