pillow
django-admin-interface
django-crispy-forms
cx_oracle
requests
django-cors-headers
python-decouple
django-admin
django-autoslug
crispy-bootstrap5
django-encrypted-field
django
djangorestframework
python-dotenv
zeep