.btn-gradient {
    background: linear-gradient(to right, #146E89, #64B4CD);
    color: white;
    padding: 15px;
    border-radius: 14.3035px;
    border-color: #207198;
    font-weight: 700;
    font-size: 18px;
}

.btn:disabled {
    background: #F6F6F6;
    color: #CCD1D2;
    padding: 15px;
    border-radius: 14.3035px;
    border-width: 2px;
    border-color: #CCD1D2;
    font-weight: 700;
    font-size: 18px;
}

.title{
    color: #0E4A67;
    font-weight: 900;
}

.text{
    color: #37677E;
}

.signup{
    color: #2195A1;
    text-decoration: none;
}

.forgot-password{
    color: #207198;
    text-decoration: none;
}

.form-label{
    color: #207198;
    font-size: 0.7rem;
}

.input-border{
    border: 2.38392px solid #207198;
    border-radius: 14.3035px;
}

.inputusuario .form-control {
    font-size: 20px;
    height: 60px;
    border: 2.38392px solid #207198;
    border-radius: 14.3035px;
}