.accordion{
    background-color: #82C2CB !important;
}

.accordion.accordion-flush .accordion-item .accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 576px) {
    .btn-custom {
        font-size: 15px;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {

    .precio-unitario{
        font-size: 30px;
    }

    .btn-custom {
        font-size: 16px;
    }

}