html,
body {
    margin: 0;
    padding: 0;
    background-color: #fffaf5;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #fffaf5;
}

.footer {
    background-color: #146e89;
    position: fixed;
    bottom: 0;
    width: 100%;
}