body {
    background-color: #fffaf5 !important;
    font-family: 'Montserrat', sans-serif !important;
}


.footer{
    background-color: #146E89 !important;
}

.btn-outline-primary {
    color: #64B4CD;
    border-color: #64B4CD;
}
 
.btn-outline-primary:hover {
    color: white;
    border-color: #35869C;
    background-color: #35869C;
}

.btn-custom{
    color: white;
    background-color: #82C2CB;
    border-radius: 0;
}

.btn-custom:hover {
    color: white;
    background-color: #4D939D;
}
