.item {
    width: 200px;
    height: 500px;
    margin-right: 10px;
    margin: 30px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.owl-carousel .nav-button {
    height: 50px;
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 220px !important;

}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.25;
}

.owl-carousel .owl-prev {
    left: -45px;
    background-color: transparent;
}

.owl-carousel .owl-next {
    right: -35px;
    background-color: transparent;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #146E89 !important;
    font-size: 39px;
    background-color: transparent !important;

}

.owl-carousel .prev-carousel:hover {
    background-position: 0px -53px;

}

.owl-carousel .next-carousel:hover {
    background-position: -24px -53px;
}

.btn-custom {
    color: white;
    background-color: #82C2CB !important;
    border-color: #82C2CB !important;
    margin-top: 20px;
    width: 250px;
    border: none;
    border-radius: 0px;
    filter: drop-shadow(0px 7px 35px rgba(214, 100, 0, 0.22));
}

.btn-custom:hover {
    color: white;
    background-color: #35869C !important;
    border-color: #35869C !important;
}



.btn-categoria {
    width: 242px;
    height: 76px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.btn-categoria:hover{
    background-color: rgb(250, 250, 250)
}

.btn-categoria span {
    font-size: 14px;
    color: black;
}

.hero .hero-promo .hero-libros img{
    max-width: 180%; 
    height: auto;
    position: relative;
    left: -180px;
    top: 20px;
}

.hero .hero-promo .hero-libros .hero-libros-text{
    max-width: 270px; 
    position: relative; 
    left: 40px; 
    font-size: 14px; 
    top: 25px;
}

@media screen and (max-width: 576px) {

    .hero .hero-promo .hero-libros img{
        position: relative;
        left: -90px;
        top: 50px;
    }

    .btn-custom {
        width: 250px;
        font-size: 22px;
    }

    .hero .hero-promo .hero-libros .hero-libros-text{
        max-width: 150px; 
        position: relative; 
        padding-top: 80px;
        left: 25px; 
        font-size: 0.85vh; 
        top: -28px;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {

    .hero .hero-promo .hero-libros img{
        position: relative;
        left: -140px;
        top: 20px;
    }

    .hero .hero-promo .hero-libros .hero-libros-text{
        max-width: 220px; 
        position: relative; 
        left: 35px; 
        font-size: 12px; 
        top: 20px;
    }

    .hero .hero-text{
        text-align: center;
    }

    .btn-custom {
        width: 260px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {

    .hero .hero-promo .hero-libros img{
        position: relative;
        left: -200px;
        top: 55px;
    }
    
    .hero .hero-promo .hero-libros .hero-libros-text{
        max-width: 300px; 
        padding-top: 80px;
        position: relative; 
        left: 44px; 
        font-size: 14px; 
        top: -15px;
    }

    .hero .hero-text{
        text-align: center;
    }

    .btn-custom {
        width: 260px;
    }

}

@media screen and (min-width: 993px) and (max-width: 1200px) {

    .hero .hero-promo .hero-libros img{
        position: relative;
        left: -130px;
        top: 40px;
    }

    .hero .hero-promo .hero-libros .hero-libros-text{
        max-width: 190px; 
        padding-top: 60px;
        position: relative; 
        left: 34px; 
        font-size: 10px; 
        top: -10px;
    }

}

@media screen and (min-width: 1201px) and (max-width: 1400px) {

    .hero .hero-promo .hero-libros img{
        position: relative;
        left: -160px;
        top: 20px;
    }

    .hero .hero-promo .hero-libros .hero-libros-text{
        max-width: 220px; 
        position: relative; 
        left: 43px; 
        font-size: 12px; 
        top: 25px;
    }
}

