.container{
    max-width: 70%;
}

.rounded-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 0.125rem solid #207198;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #207198;
}

.rounded-item-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.07)!important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #0000;
}

@media screen and (max-width: 576px) {
    .container{
        max-width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .container{
        max-width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    
    .container{
        max-width: 85%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {

    .container{
        max-width: 80%;
    }
    
}