.btn-gradient {
    background: linear-gradient(to right, #146E89, #64B4CD);
    color: white !important;
    padding: 15px;
    width: 13vh;
    border: none;
    border-radius: 14.3035px;
    border-color: #207198;
    font-weight: 700;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

.btn-gradient:hover,
.btn-gradient:focus {
    opacity: 0.8;
}

.btn-gradient:active,
.btn-gradient.active {
  opacity: 1;
}

.btn:disabled {
    background: #F6F6F6;
    color: #CCD1D2 !important;
    padding: 15px;
    border: solid;
    border-radius: 14.3035px;
    border-width: 2px;
    border-color: #CCD1D2;
    font-weight: 700;
    font-size: 18px;
}

.alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.alert {
    display: inline-block;
    padding: 10px;
    background-color: #3581a7;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    word-wrap: break-word;
    animation: slide-in 0.3s ease-out forwards;
    max-width: 500px;
}


.alert.hide {
    animation: slide-out 0.3s ease-out forwards;
}


@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
