{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}" />
{% endblock %}
{% load humanize %}
{% block title %}Carrito{% endblock title %}

{% block content %}
<div class="container my-5 py-3">
    {% if carrito.cantidad > 0 %}
    <div class="row justify-content-between pb-5">
        <div class="col-auto col-md-auto col-lg-auto seccion-productos">
            <a href="/" class="text-decoration-none text-black">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-chevron-left fa-lg"></i>
                    <p style="font-size: 20px; font-weight: 600; margin-bottom: 0px; margin-left: 10px;">Seguir
                        Comprando
                    </p>
                </div>
            </a>
            <hr>
            <p style="font-size: 36px; font-weight: 600; margin-bottom: -5px;">Carrito</p>
            <p style="font-size: 20px; font-weight: 500;">Tienes {{ carrito.cantidad }} productos en el carro</p>
            {% for detalle_carrito in detalle_carrito %}
            <div class="d-flex align-items-center justify-content-between mt-4"
                style="background: white; max-width: auto; height: auto; border-radius: 15px;filter: drop-shadow(0px 20px 88px rgba(0, 0, 0, 0.1));">
                <div class="producto-imagen">
                    <img src="{{ detalle_carrito.libro.thumbnail }}" alt="{{ detalle_carrito.libro.nombre_libro }}"
                        class="img-fluid">
                </div>
                <div class="producto-info">
                    <p class="producto-nombre">
                        {{ detalle_carrito.libro.nombre_libro|truncatechars:20 }}</p>
                    <p class="producto-autor">{{ detalle_carrito.libro.autor }}
                    </p>
                </div>
                <div class="mx-auto producto-cantidad">
                    <div class="input-group align-items-center">
                        <input type="number" class="count text-end ml-2" min="1"
                            max="{{ detalle_carrito.libro.cantidad_disponible }}" value="{{ detalle_carrito.cantidad }}"
                            readonly name="cantidad">

                        <div class="mx-2">
                            <div class="input-group-prepend" style="margin-bottom: -9px;">
                                <form method="post" action="{% url 'aumentar_cantidad' detalle_carrito.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link py-1"><i
                                            class="fa-solid fa-caret-up fa-2xl" style="color: black;"></i></button>
                                </form>
                            </div>
                            <div class="input-group-append" style="margin-top: -9px;">
                                <form method="post" action="{% url 'disminuir_cantidad' detalle_carrito.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link py-1"><i
                                            class="fa-solid fa-caret-down fa-2xl" style="color: black;"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto producto-precio">
                    <p>${{ detalle_carrito.precio_total }}</p>
                </div>
                <div class="mx-2">
                    <form method="post" action="{% url 'eliminar_producto_carrito' detalle_carrito.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link"><img class="img-basurero"
                                src="{% static 'img/basurero.svg' %}" alt=""></button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-auto col-md-auto col-lg-auto d-flex align-items-start mt-5 pt-5 seccion-pago">
            <div class="p-4 carta-pago">
                <div style="margin-bottom: 30px;">
                    <p class="text-start" style="font-size: 23px; font-weight: 500; color: white; margin-bottom: 0px;">
                        Resumen Compra</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-start" style="font-size: 14px; font-weight: 500; color: white;">Subtotal</p>
                    <p class="text-start" style="font-size: 14px; font-weight: 500; color: white;">
                        ${{carrito.total_pagar}}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-start" style="font-size: 14px; font-weight: 500; color: white;">Envío</p>
                    <p class="text-start" style="font-size: 14px; font-weight: 500; color: white;">${{envio}}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-start" style="font-size: 14px; font-weight: 500; color: white;">Total</p>
                    <p class="text-start" style="font-size: 14px; font-weight: 500; color: white;">${{total}}</p>
                </div>
                <div>
                    <button class="btn-pago" onclick="openPopup()">
                        <div class="d-flex mx-2 btn-pago-content">
                            <div class="mx-3">
                                <p class="text-start"
                                    style="font-size: 16px; font-weight: 500; color: white; margin-bottom: 0px">
                                    ${{total}}
                                </p>
                            </div>
                            <div class="mx-3 d-flex align-items-center">
                                <p class="text-start"
                                    style="font-size: 16px; font-weight: 500; color: white; margin-bottom: 0px; margin-right: 6px;">
                                    Continuar Compra</p>
                                <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i>

                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row align-items-center my-3" style="justify-content: space-between;">
        <div class="d-flex align-items-center mb-3">
            <a href="/" class="text-decoration-none text-reset">
            <i class="fa-solid fa-chevron-left fa-lg"></i>
                <span style="font-size: 20px; font-weight: 600; margin-bottom: 0px; margin-left: 10px;">Seguir Comprando
                </sp>
            </a>
        </div>
        <hr>
        <p class="d-none d-md-none d-lg-block" style="font-size: 36px; font-weight: 600; margin-bottom: -5px;">Carrito
        </p>
        <div class="col-auto col-md-auto col-lg-auto d-none d-md-none d-lg-block">
            <img class="img-fluid float-start" src="{% static 'img/carritoVacio.png' %}" alt=""
                style="max-width: 500px;">
        </div>
        <div class="col-sm-auto col-md-auto col-lg-4 mt-5">
            <h1 class="mb-3 fw-bolder text-start" style="color: #146E89;">Carrito Vacio...</h1>
            <div class="text-start">
                <p>Aun no has agregado productos a tu carrito?</p>
            </div>
            <a class="btn btn-custom btn-md fw-bold" href="/catalogue" role="button">Ver Catálogo</a>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}


{% block script_final %}
<script>
    function openPopup() {
        var popupUrl = '/imaginaPay'; // URL de la página que deseas abrir en la ventana emergente
        var popupWidth = 800; // Ancho de la ventana emergente
        var popupHeight = 600; // Altura de la ventana emergente
        var popupLeft = (window.innerWidth - popupWidth) / 2; // Calcular la posición izquierda para centrar la ventana emergente
        var popupTop = (window.innerHeight - popupHeight) / 2; // Calcular la posición superior para centrar la ventana emergente
        var popupWindow = window.open(popupUrl, '_blank', 'width=' + popupWidth + ',height=' + popupHeight + ',left=' + popupLeft + ',top=' + popupTop); // Abrir la ventana emergente centrada
        if (popupWindow) {
            popupWindow.focus();
        } else {
            // Si se bloquea la apertura de ventanas emergentes, muestra un mensaje de error al usuario
            alert('La ventana emergente ha sido bloqueada por el navegador. Por favor, habilite las ventanas emergentes para este sitio web.');
        }
    }
</script>
{% endblock script_final %}