{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
{% endblock %}

{% block title %}Catálogo{% endblock title %}


{% block content %}
<section class="section-products">
    <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
            <div class="header">
                <h3>Productos destacados</h3>
                <h2>Catálogo</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <form method="GET" class="my-3">
            <div class="input-group">
                <label class="input-group-text" for="categoria">Categoría</label>
                <select class="form-select" id="categoria" name="categoria">
                    <option value="">Todas</option>
                    {% for categoria in categorias %}
                    <option value="{{ categoria }}">{{ categoria }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
        </form>
        {% for libro in libros %}
        {% if not categoria_filtrada or libro.categoria == categoria_filtrada %}
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product" class="single-product card mb-3"
                style="border-radius: 0%; border: none ; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);">
                <div class="part-1 card-img-top"
                    style="background: url('{{ libro.thumbnail  }}') no-repeat center;object-fit: cover;">
                    <form class="agregar-carrito-form" action="{% url 'agregar_al_carrito' libro.id_libro %}"
                        method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="cantidad" class="cantidad" value="1"
                            data-disponible="{{ libro.cantidad_disponible }}">
                        <ul>
                            <li>
                                <a>
                                    <i class=" fas fa-shopping-cart agregar-carrito-icon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/books/{{ libro.slug }}/">
                                    <i class="fas fa-expand"></i>
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="part-2 card-body text-center">
                    <h3 class="card-text product-title fw-bold">{{libro.nombre_libro|truncatechars:50}}</h3>
                    {% if libro.autor == "a/d" %}
                    <p class="card-text">Sin autor registrado</p>
                    {% else %}
                    <p class="card-text">{{libro.autor}}</p>
                    {% endif %}
                    <!-- TODO: Agregar ofertas -->
                    <!-- <h4 class="card-text product-old-price">$79.99</h4> -->
                    <h4 class="card-text product-price">${{libro.precio_unitario }}</h4>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- Mostrar la paginación -->
        <nav aria-label="Paginación">
            <ul class="pagination justify-content-center">
                {% if libros.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ libros.previous_page_number }}"
                        aria-label="Previous">&laquo;</a>
                </li>
                {% endif %}

                {% for num in libros.paginator.page_range %}
                {% if libros.number == num %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?pagina={{ num }}">{{ num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if libros.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?pagina={{ libros.next_page_number }}" aria-label="Next">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>




{% endblock %}

{% block script_final%}
<script src="{% static 'js/catalogue.js' %}"></script>

{% endblock %}