{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
{% endblock %}

{% block title %}Buscador{% endblock title %}

{% block content %}

<nav class="" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Buscador</li>
    </ol>
</nav>
{% if searched %}
<h5 class="mb-3 text-center">Resultados de búsqueda para:</h5>
<h2 class="text-center fw-bolder" style="color: #2195A1;">{{searched}}</h2>
<section class="section-products py-0">
    <div class="row mb-5">
        {% for libro in entity %}
        <div class="col-md-6 col-lg-4 col-xl-3 pt-5">
            <div id="product" class="single-product card mb-3"
                style="border-radius: 0%; border: none ; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);">
                <div class="part-1 card-img-top"
                    style="background: url('{{ libro.thumbnail  }}') no-repeat center;object-fit: cover;">
                    <form class="agregar-carrito-form" action="{% url 'agregar_al_carrito' libro.id_libro %}"
                        method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="cantidad" class="cantidad" value="1"
                            data-disponible="{{ libro.cantidad_disponible }}">
                        <ul>
                            <li>
                                <a>
                                    <i class=" fas fa-shopping-cart agregar-carrito-icon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/books/{{ libro.slug }}/">
                                    <i class="fas fa-expand"></i>
                                </a>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="part-2 card-body text-center">
                    <h3 class="card-text product-title fw-bold">{{libro.nombre_libro|truncatechars:50}}</h3>
                    {% if libro.autor == "a/d" %}
                    <p class="card-text">Sin autor registrado</p>
                    {% else %}
                    <p class="card-text">{{libro.autor}}</p>
                    {% endif %}
                    <!-- TODO: Agregar ofertas -->
                    <!-- <h4 class="card-text product-old-price">$79.99</h4> -->
                    <h4 class="card-text product-price">${{libro.precio_unitario }}</h4>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mb-5 pb-5 align-items-center" style="justify-content: space-between;">
            <div class="col-auto col-md-auto col-lg-auto d-none d-md-none d-lg-block">
                <img class="img-fluid float-start" src="{% static 'img/nothingHere.png' %}" alt=""
                    style="max-width: 500px;">
            </div>
            <div class="col-sm-auto col-md-auto col-lg-4 mt-5">
                <h1 class="mb-3 fw-bolder text-start" style="color: #146E89;">Aquí no hay nada...</h1>
                <div class="text-start">
                    <p>No hemos encontrado ningún resultado para la búsqueda que has realizado..</p>
                </div>
                <a class="btn btn-custom btn-md fw-bold" href="/" role="button">Volver a la página principal</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Mostrar la paginación -->
{% if count > 12 %}
<nav aria-label="Paginación">
    <ul class="pagination justify-content-center">
        {% if entity.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?pagina={{ entity.previous_page_number }}&search={{ searched }}"
                aria-label="Previous" style="color: #146E89; box-shadow: none;">&laquo;</a>
        </li>
        {% endif %}

        {% for num in entity.paginator.page_range %}
        {% if entity.number == num %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?pagina={{ num }}&search={{ searched }}"
                style="background-color: #146E89; border-color: #146E89; color: white; box-shadow: none;">{{ num }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?pagina={{ num }}&search={{ searched }}"
                style="color: #146E89; box-shadow: none;">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if entity.has_next %}
        <li class="page-item">
            <a class="page-link" href="?pagina={{ entity.next_page_number }}&search={{ searched }}" aria-label="Next"
                style="color: #146E89; box-shadow: none;">&raquo;</a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}



{% else %}

<div class="row my-5 py-5 align-items-center" style="justify-content: space-between;">
    <div class="col-auto col-md-auto col-lg-auto d-none d-md-none d-lg-block">
        <img class="img-fluid float-start" src="{% static 'img/nothingHere.png' %}" alt="" style="max-width: 500px;">
    </div>
    <div class="col-sm-auto col-md-auto col-lg-4 my-auto">
        <h1 class="mb-3 fw-bolder text-start" style="color: #146E89;">Aquí no hay nada...</h1>
        <div class="text-start">
            <p>Lo sentimos, parece que no has ingresado ningún texto en el buscador.</p>
        </div>
        <a class="btn btn-custom btn-md fw-bold" href="/" role="button">Volver a la página principal</a>
    </div>
</div>

{% endif %}
{% endblock %}

{% block script_final%}
<script src="{% static 'js/catalogue.js' %}"></script>

{% endblock %}