{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/support.css' %}" />
{% endblock %}
{% load humanize %}
{% block title %}Soporte{% endblock title %}

{% block content %}
<div class="container my-5 py-3" style="max-width: 963px;">
    <div class="row justify-content-start mb-4">
        <div class="col-12 col-md-12 col-lg-12 ps-0">
            <p style="font-size: 36px; font-weight: 600;">¿En qué podemos ayudate?</p>
            <div class="d-flex">
                <div class="col-8 col-md-10 col-lg-10 mb-md-0 mt-2"
                    style="background-color: #FFFF; max-width: 100%; height: 60px; box-shadow: 0px 20px 88px rgba(0, 0, 0, 0.1); border-radius: 10px;">
                    <div class="input-group align-items-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 mt-2" style="margin-right: -15px;"><i
                                    class="fa fa-search" style="color: gray;"></i></span>
                        </div>
                        <input class="form-control bg-transparent border-0 mt-2"
                            style="box-shadow: none; color: gray; font-weight: 500; font-size: 20px;" type="search"
                            value="" placeholder="Buscar en Soporte">
                    </div>
                </div>
                <div class="col-auto col-md-auto col-lg-auto mt-2 ms-auto">
                    <button disabled class="btn btn-gradient">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Card -->
        <p style="font-size: 26px; font-weight: 600;">Compras</p>
        <div class="card mb-5 d-flex"
            style="border-radius: 15px; filter: drop-shadow(0px 20px 88px rgba(0, 0, 0, 0.1)); border: none;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 px-0">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-0 border-bottom" style="border-bottom-width: 10px;">
                            <a {% if user.is_authenticated %} href="/my_purchases" {% else %} href="/auth/login" {% endif %} style="text-decoration: none;">
                                <div class="d-flex align-items-center mx-5 my-3 pt-2">
                                    <div class="me-4" style="width: 55px; height: 55px; color: black; font-size: 25px;">
                                        <img src="{% static 'img/purchases_bag.png' %}" alt="" class="img-fluid"
                                            style="width: 35px;">
                                    </div>
                                    <div>
                                        <h5 style="color: black;">Administrar y cancelar compras</h5>
                                        <h6 style="color: rgba(0, 0, 0, 0.582);">Pagar, seguir envios, modificar,
                                            reclamar o cancelar compras.</h6>
                                    </div>
                                    <div class="ms-auto" style="color: black;">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mb-0 border-bottom">
                            <a href="#" style="text-decoration: none;">
                                <div class="d-flex align-items-center mx-5 my-3">
                                    <div class="me-4" style="width: 55px; height: 55px; color: black; font-size: 25px;">
                                        <img src="{% static 'img/refunds.png' %}" alt="" class="img-fluid"
                                            style="width: 47px; left: 10px;">
                                    </div>
                                    <div>
                                        <h5 style="color: black;">Devoluciones y reembolsos</h5>
                                        <h6 style="color: rgba(0, 0, 0, 0.582);">Devolver un producto o consultar por
                                            reintegros de dinero de una compra.</h6>
                                    </div>
                                    <div class="ms-auto" style="color: black;">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">
                                <div class="d-flex align-items-center mx-5 my-3">
                                    <div class="me-4" style="width: 55px; height: 55px; color: black; font-size: 25px;">
                                        <img src="{% static 'img/questions.png' %}" alt="" class="img-fluid"
                                            style="width: 35px;">
                                    </div>
                                    <div>
                                        <h5 style="color: black;">Preguntas frecuentes sobre compras</h5>
                                    </div>
                                    <div class="ms-auto" style="color: black;">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Card -->
        <!-- Card -->
        <p style="font-size: 26px; font-weight: 600;">Mantenimiento</p>
        <div class="card mb-5 d-flex"
            style="border-radius: 15px; filter: drop-shadow(0px 20px 88px rgba(0, 0, 0, 0.1)); border: none;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 px-0">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-0 border-bottom" style="border-bottom-width: 10px;">
                            {% if user.is_authenticated %}
                            <a data-bs-toggle="offcanvas" data-bs-target="#solicitarMantenimiento" style="text-decoration: none;">
                            {% else %} 
                            <a href="/auth/login" style="text-decoration: none;">
                            {% endif %}
                                <div class="d-flex align-items-center mx-5 my-3 pt-2">
                                    <div class="me-4"
                                        style="width: 55px; height: 55px; color: black; font-size: 25px;">
                                        <img src="{% static 'img/maintenance.png' %}" alt="" class="img-fluid"
                                            style="width: 35px;">
                                    </div>
                                    <div>
                                        <h5 style="color: black;">Solicitar Mantenimiento</h5>
                                        <h6 style="color: rgba(0, 0, 0, 0.582);">Mantenimiento físico, contenido o
                                            preventivo.</h6>
                                    </div>
                                    <div class="ms-auto" style="color: black;">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="mb-0 border-bottom">
                            <a href="#" style="text-decoration: none;">
                                <div class="d-flex align-items-center mx-5 my-3">
                                    <div class="me-4" style="width: 55px; height: 55px; color: black; font-size: 25px;">
                                        <img src="{% static 'img/follow-up_requests.png' %}" alt="" class="img-fluid"
                                            style="width: 35px;">
                                    </div>
                                    <div>
                                        <h5 style="color: black;">Seguimiento de solicitudes</h5>
                                        <h6 style="color: rgba(0, 0, 0, 0.582);">Ver progreso y estado de las
                                            solicitudes de mantenimiento.</h6>
                                    </div>
                                    <div class="ms-auto" style="color: black;">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">
                                <div class="d-flex align-items-center mx-5 my-3">
                                    <div class="me-4" style="width: 55px; height: 55px; color: black; font-size: 25px;">
                                        <img src="{% static 'img/questions.png' %}" alt="" class="img-fluid"
                                            style="width: 35px;">
                                    </div>
                                    <div>
                                        <h5 style="color: black;">Preguntas frecuentes sobre mantenimiento</h5>
                                    </div>
                                    <div class="ms-auto" style="color: black;">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Card -->
        <!-- Card -->
        <p style="font-size: 26px; font-weight: 600;">Sobre tu cuenta</p>
        <div class="card mb-5 d-flex"
            style="border-radius: 15px; filter: drop-shadow(0px 20px 88px rgba(0, 0, 0, 0.1)); border: none;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 px-0">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-0 border-bottom">
                            <a {% if user.is_authenticated %} href="/my_data" {% else %} href="/auth/login" {% endif %} style="text-decoration: none;">
                                <div class="d-flex align-items-center mx-5 my-3">
                                    <div style="height: 55px; color: black; font-size: 25px;"></div>
                                    <div>
                                        <h5 style="color: black;">Configuración de mi cuenta</h5>
                                    </div>
                                    <div class="ms-auto" style="color: black;">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">
                                <div class="d-flex align-items-center mx-5 my-3">
                                    <div style="height: 55px; color: black; font-size: 25px;"></div>
                                    <div>
                                        <h5 style="color: black;">Seguridad</h5>
                                    </div>
                                    <div class="ms-auto" style="color: black;">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Card -->
        <!-- Card -->
        <p style="font-size: 26px; font-weight: 600;">¿Necesitas más ayuda?</p>
        <div class="card mb-5 d-flex"
            style="border-radius: 15px; filter: drop-shadow(0px 20px 88px rgba(0, 0, 0, 0.1)); border: none;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 px-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" style="text-decoration: none;">
                                <div class="d-flex align-items-center mx-5 my-3">
                                    <div style="height: 55px; color: black; font-size: 25px;"></div>
                                    <div>
                                        <h5 style="color: black;">Contáctanos</h5>
                                    </div>
                                    <div class="ms-auto" style="color: black;">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>

    <!-- Modals -->


    <!-- Modal Lateral -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="solicitarMantenimiento"
        style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
        <div class="offcanvas-header mt-3">
            <h4 class="offcanvas-title fw-bold">Solicitar Mantenimiento</h4>
            <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas"
                aria-label="Cerrar"></button>
        </div>
        <div class="offcanvas-body">
            <form method="POST" action="{% url 'generar_mantenimiento' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="correoSolicitante" class="form-label">Correo del Solicitante</label>
                    <input type="email" id="email" name="email" class="form-control shadow-none" id="correoSolicitante"
                        placeholder="Ingrese su correo electrónico" required>
                </div>
                <div class="mb-3">
                    <label for="tipoMantenimiento" class="form-label">Tipo de Mantenimiento</label>
                    <select class="form-select shadow-none" id="tipoMantenimiento" name="tipoMantenimiento" required>
                        <option value="">Seleccione un tipo de mantenimiento</option>
                        {% for tipo in tipos_mantenimiento %}
                        <option value="{{ tipo }}">Mantenimiento {{ tipo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="misPedidos" class="form-label">Pedido</label>
                    <select class="form-select shadow-none" id="misPedidos" name="misPedidos" required>
                        <option value="">Seleccione un pedido</option>
                        {% for pedido in pedidos %}
                        <option value="{{ pedido.id_pedido }}">Pedido #{{ pedido }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="libro" class="form-label">Libro</label>
                    <select class="form-select shadow-none" id="libro" name="libro" required>
                        <option value="">Seleccione un libro</option>
                    </select>
                </div>
                <div id="imagenLibroContainer" style="display: none; text-align: center;">
                    <img id="imagenLibro" class="img-fluid" style="width: 80px;" src="" alt="Imagen del libro">
                </div>
                <div class="mb-3">
                    <label for="comentario" class="form-label">Comentario</label>
                    <textarea class="form-control shadow-none" id="comentario" name="comentario" rows="3"
                        placeholder="Ingrese un comentario" required></textarea>
                </div>
                <button type="submit" class="btn btn-gradient btn-block w-100">Enviar solicitud</button>
            </form>
        </div>
    </div>
</div>

<div id="alert-container" class="alert-container"></div>

{% if messages_json %}
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      var alertContainer = document.getElementById('alert-container');
      var messages = JSON.parse('{{ messages_json|escapejs }}');
      
      if (messages.length > 0) {
        var message = messages[0];
        var alertElement = document.createElement('div');
        alertElement.className = 'alert';
        alertElement.innerText = message;
        alertContainer.appendChild(alertElement);
        
        setTimeout(function() {
          alertElement.classList.add('hide');
          setTimeout(function() {
            alertElement.remove();
          }, 300);
        }, 5000);
      }
    });
  </script>
{% endif %}

{% endblock %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js'></script>

{% block script_final %}
<script src="{% static 'js/libros_pedido.js' %}"></script>
{% endblock script_final %}