{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Iniciar sesión{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block content %}

<div class="row justify-content-between align-items-center py-5">
    <div class="col-auto col-md-auto col-lg-5 d-none  d-md-none d-lg-block">
        <!-- Imagen -->
        <img src="{% static 'img/login.svg' %}" class="img-fluid" alt="Imagen">
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
        <form action="" method="POST" class="my-4">
            {% csrf_token %}
            <h3 class="mb-4 fw-bolder fs-1 title">Iniciar Sesión</h3>
            <p class="text">¿No tienes una cuenta? <a href="/auth/signup" class="signup">¡Regístrate ahora!</a></p>
            <div class="mb-3 inputusuario">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="mb-3 inputusuario ">
                {{ form.password|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-gradient w-100 d-block">Iniciar Sesión</button>
        </form>
        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
    </div>
</div>

{% endblock %}

{% block script_final %}
{% if errors %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Error',
        html: '{% for error in errors %}<p>{{ error|safe }}</p>{% endfor %}'
    });
</script>
{% endif %}
{% endblock script_final %}